doctype html
html
  head
    title Rohit Dance Acadmy
    block scripts
    block style 
  body
   nav#navbar.top 
      ul 
         div#logo
            img(src="/static/logo.png")
         li #[a(href="/") Home]
         li #[a(href="/") About] 
         li #[a(href="/contact") contact us] 
         li #[a(href="/") Service] 
         
   block content
   footer#footer 
      | Copyright © 2022 Rohit's Dance Acadmy  